@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
    border-bottom: 1px solid $default;
  }

  &__logo {
    opacity: 0.7;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 50px;
    text-transform: uppercase;
    @extend %raleway-700;
    color: $white;
    opacity: 0.7;
    transition: opacity 0.3s;
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 1;
    }
  }

}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 750px;
  padding-top: 100px;
  background: #31344e center / cover no-repeat;

  &__inner {
    max-width: 970px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 30px;
    @extend %raleway-700;
    font-size: 65px;
    line-height: 70px;
    color: $white;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-bottom: 60px;
    font-size: 22px;
    line-height: 30px;
    color: $white;
  }
  
}

.features {
  padding: 100px 0 75px;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }

  &__item {
    width: 33.3%;
    margin-bottom: 25px;
    padding: 0 30px;
    text-align: center;

    &::before {
      content: '';
      display: block;
      margin:0 auto 25px;
      width: 65px;
      height: 65px;
    }

  }

  &__item--featur-1::before {
    background: url(../images/features/faetur-1.png) center / contain no-repeat;
    }

  &__item--featur-2::before {
    background: url(../images/features/faetur-2.png) center / contain no-repeat;
    }

  &__item--featur-3::before {
    background: url(../images/features/faetur-3.png) center / contain no-repeat;
  }

  &__item--featur-4::before {
    background: url(../images/features/faetur-4.png) center / contain no-repeat;
  }

  &__item--featur-5::before {
    background: url(../images/features/faetur-5.png) center / contain no-repeat;
  }

  &__item--featur-6::before {
    background: url(../images/features/faetur-6.png) center / contain no-repeat;
  }
  
  &__title {
    margin-bottom: 25px;
    color: $title;
    @extend %raleway-700;
    text-transform: uppercase;
  }
}

.works {
  &__items {
    display: flex;
    flex-wrap: wrap
  }

  &__item {
    position: relative;
    width: 25%;
    height: 350px;
    border-right: 1px solid $white;
    border-bottom: 1px solid $white;
    overflow: hidden;
    &:hover .works__content {
      opacity: 1;
    }
  }
  
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, .9);
    opacity: 0;
    transition: opacity 0.3s;
  }

  &__name {
    color: $white;
    text-transform: uppercase;
    @extend %raleway-700;
  }

  &__text {
    color: $white;
  }
}

.team {
  padding: 100px 0 70px;

  &__items {
    display: flex;
    margin: 0 -15px 30px;
  }

  &__item {
    width: 25%;
    padding: 0 15px;
  }

  &__img {
    margin-bottom: 20px;
  }

  &__name {
    margin-bottom: 8px;
    font-size: 22px;
    color: $title;
    font-weight: 400;
  }

  &__position {
    margin-bottom: 15px;
    color: $accent;
  }

  &__text {
    margin-bottom: 20px;
  }
}

.social {
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid $default;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $default;

      .social__icon {
        fill: $accent;
      }
    }
  }

  &__icon {
    transition: fill 0.3s;
    height: 18px;
    fill: $default;
  }
}

.testimonials {
  background-color: #53354a;
  overflow: hidden;

  &__items {
    height: 500px;
    overflow: hidden;
  }

  &__item {
    display: flex !important;
    flex-wrap: wrap;
    overflow: hidden;
  }

  &__photo {
    position: relative;
    width: 50%;
    height: 500px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 50px;
  }

  &__text {
    margin-bottom: 25px;
    @extend %cardo-400;
    font-size: 36px;
    line-height: 45px;
    color: $white;
  }

  &__author {
    @extend %cardo-400;
    text-transform: uppercase;
    color: $white;
    font-weight: 700;
  }

  .slick-dots {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 50%;
    padding-bottom: 10px;
    margin-right: 70px;
    li {
      margin: 0 5px;
    }

    button {
      font-size: 0;
      color: transparent;
      background-color: #fff;
      opacity: 0.7;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }

    & .slick-active {
      button {
        opacity: 1;
      }
    }
  }
}

.download {
  padding: 90px 0;
  text-align: center;

  &__title {
    margin-bottom: 15px;
    color: $title;
    font-size: 28px;
    font-weight: normal;
  }

  &__text {
    margin-bottom: 35px;
    @extend %raleway-700;
    color: $title;
    text-transform: uppercase;
  }

  .btn--download {
    padding: 15px 60px;
  }
}

.footer {
  background-color: #3a3e64;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
    color: $white;
  }

  &__item {
    width: 33.3333%;
    padding: 0 15px;
    text-align: center;
  }

  & .social--footer {
    justify-content: center;

    .social__item {
      border: 1px solid $white;
    }

    .social__item:hover {
      background-color: $white;
      .social__icon {
        fill: $accent;
      }
    }

    .social__icon {
      fill: $white;
    }
  }

  &__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: $white;
  }

  &__address {
    font-style: normal;
  }

  .copyright {
    background-color: #313454;
    padding: 20px 0;
    text-align: center;

    &__text {
      color: $white;
    }
  }
}














@import 'media';


